xml-resources/web-service-references/webService/wsdl/localhost_9090/WebServices/webService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="webService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:9090/WebServices/webService?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminarRubroxId">
<part name="parameters" element="tns:eliminarRubroxId"/>
</message>
<message name="eliminarRubroxIdResponse">
<part name="parameters" element="tns:eliminarRubroxIdResponse"/>
</message>
<message name="registrarRubro">
<part name="parameters" element="tns:registrarRubro"/>
</message>
<message name="registrarRubroResponse">
<part name="parameters" element="tns:registrarRubroResponse"/>
</message>
<message name="loginUsuario">
<part name="parameters" element="tns:loginUsuario"/>
</message>
<message name="loginUsuarioResponse">
<part name="parameters" element="tns:loginUsuarioResponse"/>
</message>
<message name="traerRubro">
<part name="parameters" element="tns:traerRubro"/>
</message>
<message name="traerRubroResponse">
<part name="parameters" element="tns:traerRubroResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="loginConsumidor">
<part name="parameters" element="tns:loginConsumidor"/>
</message>
<message name="loginConsumidorResponse">
<part name="parameters" element="tns:loginConsumidorResponse"/>
</message>
<message name="CrearConsumidor">
<part name="parameters" element="tns:CrearConsumidor"/>
</message>
<message name="CrearConsumidorResponse">
<part name="parameters" element="tns:CrearConsumidorResponse"/>
</message>
<message name="restarPuntos">
<part name="parameters" element="tns:restarPuntos"/>
</message>
<message name="restarPuntosResponse">
<part name="parameters" element="tns:restarPuntosResponse"/>
</message>
<message name="traerTiendas">
<part name="parameters" element="tns:traerTiendas"/>
</message>
<message name="traerTiendasResponse">
<part name="parameters" element="tns:traerTiendasResponse"/>
</message>
<message name="registrarTienda">
<part name="parameters" element="tns:registrarTienda"/>
</message>
<message name="registrarTiendaResponse">
<part name="parameters" element="tns:registrarTiendaResponse"/>
</message>
<message name="traerConsumidor">
<part name="parameters" element="tns:traerConsumidor"/>
</message>
<message name="traerConsumidorResponse">
<part name="parameters" element="tns:traerConsumidorResponse"/>
</message>
<message name="agregarProducto">
<part name="parameters" element="tns:agregarProducto"/>
</message>
<message name="agregarProductoResponse">
<part name="parameters" element="tns:agregarProductoResponse"/>
</message>
<message name="traerCategorias">
<part name="parameters" element="tns:traerCategorias"/>
</message>
<message name="traerCategoriasResponse">
<part name="parameters" element="tns:traerCategoriasResponse"/>
</message>
<message name="SelectMaxIdRubro">
<part name="parameters" element="tns:SelectMaxIdRubro"/>
</message>
<message name="SelectMaxIdRubroResponse">
<part name="parameters" element="tns:SelectMaxIdRubroResponse"/>
</message>
<message name="SelectMaxIdValoracion">
<part name="parameters" element="tns:SelectMaxIdValoracion"/>
</message>
<message name="SelectMaxIdValoracionResponse">
<part name="parameters" element="tns:SelectMaxIdValoracionResponse"/>
</message>
<message name="selectMaxIdDescuento">
<part name="parameters" element="tns:selectMaxIdDescuento"/>
</message>
<message name="selectMaxIdDescuentoResponse">
<part name="parameters" element="tns:selectMaxIdDescuentoResponse"/>
</message>
<message name="ComprobarValoracionAnterior">
<part name="parameters" element="tns:ComprobarValoracionAnterior"/>
</message>
<message name="ComprobarValoracionAnteriorResponse">
<part name="parameters" element="tns:ComprobarValoracionAnteriorResponse"/>
</message>
<message name="SelectMaxIdPerfil">
<part name="parameters" element="tns:SelectMaxIdPerfil"/>
</message>
<message name="SelectMaxIdPerfilResponse">
<part name="parameters" element="tns:SelectMaxIdPerfilResponse"/>
</message>
<message name="traerOfertasxCategoria">
<part name="parameters" element="tns:traerOfertasxCategoria"/>
</message>
<message name="traerOfertasxCategoriaResponse">
<part name="parameters" element="tns:traerOfertasxCategoriaResponse"/>
</message>
<message name="eliminarSucursalxId">
<part name="parameters" element="tns:eliminarSucursalxId"/>
</message>
<message name="eliminarSucursalxIdResponse">
<part name="parameters" element="tns:eliminarSucursalxIdResponse"/>
</message>
<message name="traerTodasOfertas">
<part name="parameters" element="tns:traerTodasOfertas"/>
</message>
<message name="traerTodasOfertasResponse">
<part name="parameters" element="tns:traerTodasOfertasResponse"/>
</message>
<message name="TraerOfertasxPreferencia">
<part name="parameters" element="tns:TraerOfertasxPreferencia"/>
</message>
<message name="TraerOfertasxPreferenciaResponse">
<part name="parameters" element="tns:TraerOfertasxPreferenciaResponse"/>
</message>
<message name="traerInformacionConsumidor">
<part name="parameters" element="tns:traerInformacionConsumidor"/>
</message>
<message name="traerInformacionConsumidorResponse">
<part name="parameters" element="tns:traerInformacionConsumidorResponse"/>
</message>
<message name="SelectMaxIdSucursal">
<part name="parameters" element="tns:SelectMaxIdSucursal"/>
</message>
<message name="SelectMaxIdSucursalResponse">
<part name="parameters" element="tns:SelectMaxIdSucursalResponse"/>
</message>
<message name="sumarPuntosConsumidor">
<part name="parameters" element="tns:sumarPuntosConsumidor"/>
</message>
<message name="sumarPuntosConsumidorResponse">
<part name="parameters" element="tns:sumarPuntosConsumidorResponse"/>
</message>
<message name="DeshabilitarDescargaCupon">
<part name="parameters" element="tns:DeshabilitarDescargaCupon"/>
</message>
<message name="DeshabilitarDescargaCuponResponse">
<part name="parameters" element="tns:DeshabilitarDescargaCuponResponse"/>
</message>
<message name="traerDetalleRubro">
<part name="parameters" element="tns:traerDetalleRubro"/>
</message>
<message name="traerDetalleRubroResponse">
<part name="parameters" element="tns:traerDetalleRubroResponse"/>
</message>
<message name="traerOfertasxTienda">
<part name="parameters" element="tns:traerOfertasxTienda"/>
</message>
<message name="traerOfertasxTiendaResponse">
<part name="parameters" element="tns:traerOfertasxTiendaResponse"/>
</message>
<message name="registroDescuento">
<part name="parameters" element="tns:registroDescuento"/>
</message>
<message name="registroDescuentoResponse">
<part name="parameters" element="tns:registroDescuentoResponse"/>
</message>
<message name="traerSucursalesxIdTienda">
<part name="parameters" element="tns:traerSucursalesxIdTienda"/>
</message>
<message name="traerSucursalesxIdTiendaResponse">
<part name="parameters" element="tns:traerSucursalesxIdTiendaResponse"/>
</message>
<message name="registrarValoracion">
<part name="parameters" element="tns:registrarValoracion"/>
</message>
<message name="registrarValoracionResponse">
<part name="parameters" element="tns:registrarValoracionResponse"/>
</message>
<message name="registrarSucursal">
<part name="parameters" element="tns:registrarSucursal"/>
</message>
<message name="registrarSucursalResponse">
<part name="parameters" element="tns:registrarSucursalResponse"/>
</message>
<message name="actualizarSucursalxId">
<part name="parameters" element="tns:actualizarSucursalxId"/>
</message>
<message name="actualizarSucursalxIdResponse">
<part name="parameters" element="tns:actualizarSucursalxIdResponse"/>
</message>
<message name="crearVisualizacionOferta">
<part name="parameters" element="tns:crearVisualizacionOferta"/>
</message>
<message name="crearVisualizacionOfertaResponse">
<part name="parameters" element="tns:crearVisualizacionOfertaResponse"/>
</message>
<message name="eliminarTiendaxId">
<part name="parameters" element="tns:eliminarTiendaxId"/>
</message>
<message name="eliminarTiendaxIdResponse">
<part name="parameters" element="tns:eliminarTiendaxIdResponse"/>
</message>
<message name="actualizarTiendaxId">
<part name="parameters" element="tns:actualizarTiendaxId"/>
</message>
<message name="actualizarTiendaxIdResponse">
<part name="parameters" element="tns:actualizarTiendaxIdResponse"/>
</message>
<message name="actualizarRubroxId">
<part name="parameters" element="tns:actualizarRubroxId"/>
</message>
<message name="actualizarRubroxIdResponse">
<part name="parameters" element="tns:actualizarRubroxIdResponse"/>
</message>
<portType name="webService">
<operation name="eliminarRubroxId">
<input wsam:Action="http://Servicios/webService/eliminarRubroxIdRequest" message="tns:eliminarRubroxId"/>
<output wsam:Action="http://Servicios/webService/eliminarRubroxIdResponse" message="tns:eliminarRubroxIdResponse"/>
</operation>
<operation name="registrarRubro">
<input wsam:Action="http://Servicios/webService/registrarRubroRequest" message="tns:registrarRubro"/>
<output wsam:Action="http://Servicios/webService/registrarRubroResponse" message="tns:registrarRubroResponse"/>
</operation>
<operation name="loginUsuario">
<input wsam:Action="http://Servicios/webService/loginUsuarioRequest" message="tns:loginUsuario"/>
<output wsam:Action="http://Servicios/webService/loginUsuarioResponse" message="tns:loginUsuarioResponse"/>
</operation>
<operation name="traerRubro">
<input wsam:Action="http://Servicios/webService/traerRubroRequest" message="tns:traerRubro"/>
<output wsam:Action="http://Servicios/webService/traerRubroResponse" message="tns:traerRubroResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerRubro/Fault/IOException"/>
</operation>
<operation name="loginConsumidor">
<input wsam:Action="http://Servicios/webService/loginConsumidorRequest" message="tns:loginConsumidor"/>
<output wsam:Action="http://Servicios/webService/loginConsumidorResponse" message="tns:loginConsumidorResponse"/>
</operation>
<operation name="CrearConsumidor">
<input wsam:Action="http://Servicios/webService/CrearConsumidorRequest" message="tns:CrearConsumidor"/>
<output wsam:Action="http://Servicios/webService/CrearConsumidorResponse" message="tns:CrearConsumidorResponse"/>
</operation>
<operation name="restarPuntos">
<input wsam:Action="http://Servicios/webService/restarPuntosRequest" message="tns:restarPuntos"/>
<output wsam:Action="http://Servicios/webService/restarPuntosResponse" message="tns:restarPuntosResponse"/>
</operation>
<operation name="traerTiendas">
<input wsam:Action="http://Servicios/webService/traerTiendasRequest" message="tns:traerTiendas"/>
<output wsam:Action="http://Servicios/webService/traerTiendasResponse" message="tns:traerTiendasResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerTiendas/Fault/IOException"/>
</operation>
<operation name="registrarTienda">
<input wsam:Action="http://Servicios/webService/registrarTiendaRequest" message="tns:registrarTienda"/>
<output wsam:Action="http://Servicios/webService/registrarTiendaResponse" message="tns:registrarTiendaResponse"/>
</operation>
<operation name="traerConsumidor">
<input wsam:Action="http://Servicios/webService/traerConsumidorRequest" message="tns:traerConsumidor"/>
<output wsam:Action="http://Servicios/webService/traerConsumidorResponse" message="tns:traerConsumidorResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerConsumidor/Fault/IOException"/>
</operation>
<operation name="agregarProducto">
<input wsam:Action="http://Servicios/webService/agregarProductoRequest" message="tns:agregarProducto"/>
<output wsam:Action="http://Servicios/webService/agregarProductoResponse" message="tns:agregarProductoResponse"/>
</operation>
<operation name="traerCategorias">
<input wsam:Action="http://Servicios/webService/traerCategoriasRequest" message="tns:traerCategorias"/>
<output wsam:Action="http://Servicios/webService/traerCategoriasResponse" message="tns:traerCategoriasResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerCategorias/Fault/IOException"/>
</operation>
<operation name="SelectMaxIdRubro">
<input wsam:Action="http://Servicios/webService/SelectMaxIdRubroRequest" message="tns:SelectMaxIdRubro"/>
<output wsam:Action="http://Servicios/webService/SelectMaxIdRubroResponse" message="tns:SelectMaxIdRubroResponse"/>
</operation>
<operation name="SelectMaxIdValoracion">
<input wsam:Action="http://Servicios/webService/SelectMaxIdValoracionRequest" message="tns:SelectMaxIdValoracion"/>
<output wsam:Action="http://Servicios/webService/SelectMaxIdValoracionResponse" message="tns:SelectMaxIdValoracionResponse"/>
</operation>
<operation name="selectMaxIdDescuento">
<input wsam:Action="http://Servicios/webService/selectMaxIdDescuentoRequest" message="tns:selectMaxIdDescuento"/>
<output wsam:Action="http://Servicios/webService/selectMaxIdDescuentoResponse" message="tns:selectMaxIdDescuentoResponse"/>
</operation>
<operation name="ComprobarValoracionAnterior">
<input wsam:Action="http://Servicios/webService/ComprobarValoracionAnteriorRequest" message="tns:ComprobarValoracionAnterior"/>
<output wsam:Action="http://Servicios/webService/ComprobarValoracionAnteriorResponse" message="tns:ComprobarValoracionAnteriorResponse"/>
</operation>
<operation name="SelectMaxIdPerfil">
<input wsam:Action="http://Servicios/webService/SelectMaxIdPerfilRequest" message="tns:SelectMaxIdPerfil"/>
<output wsam:Action="http://Servicios/webService/SelectMaxIdPerfilResponse" message="tns:SelectMaxIdPerfilResponse"/>
</operation>
<operation name="traerOfertasxCategoria">
<input wsam:Action="http://Servicios/webService/traerOfertasxCategoriaRequest" message="tns:traerOfertasxCategoria"/>
<output wsam:Action="http://Servicios/webService/traerOfertasxCategoriaResponse" message="tns:traerOfertasxCategoriaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerOfertasxCategoria/Fault/IOException"/>
</operation>
<operation name="eliminarSucursalxId">
<input wsam:Action="http://Servicios/webService/eliminarSucursalxIdRequest" message="tns:eliminarSucursalxId"/>
<output wsam:Action="http://Servicios/webService/eliminarSucursalxIdResponse" message="tns:eliminarSucursalxIdResponse"/>
</operation>
<operation name="traerTodasOfertas">
<input wsam:Action="http://Servicios/webService/traerTodasOfertasRequest" message="tns:traerTodasOfertas"/>
<output wsam:Action="http://Servicios/webService/traerTodasOfertasResponse" message="tns:traerTodasOfertasResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerTodasOfertas/Fault/IOException"/>
</operation>
<operation name="TraerOfertasxPreferencia">
<input wsam:Action="http://Servicios/webService/TraerOfertasxPreferenciaRequest" message="tns:TraerOfertasxPreferencia"/>
<output wsam:Action="http://Servicios/webService/TraerOfertasxPreferenciaResponse" message="tns:TraerOfertasxPreferenciaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/TraerOfertasxPreferencia/Fault/IOException"/>
</operation>
<operation name="traerInformacionConsumidor">
<input wsam:Action="http://Servicios/webService/traerInformacionConsumidorRequest" message="tns:traerInformacionConsumidor"/>
<output wsam:Action="http://Servicios/webService/traerInformacionConsumidorResponse" message="tns:traerInformacionConsumidorResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerInformacionConsumidor/Fault/IOException"/>
</operation>
<operation name="SelectMaxIdSucursal">
<input wsam:Action="http://Servicios/webService/SelectMaxIdSucursalRequest" message="tns:SelectMaxIdSucursal"/>
<output wsam:Action="http://Servicios/webService/SelectMaxIdSucursalResponse" message="tns:SelectMaxIdSucursalResponse"/>
</operation>
<operation name="sumarPuntosConsumidor">
<input wsam:Action="http://Servicios/webService/sumarPuntosConsumidorRequest" message="tns:sumarPuntosConsumidor"/>
<output wsam:Action="http://Servicios/webService/sumarPuntosConsumidorResponse" message="tns:sumarPuntosConsumidorResponse"/>
</operation>
<operation name="DeshabilitarDescargaCupon">
<input wsam:Action="http://Servicios/webService/DeshabilitarDescargaCuponRequest" message="tns:DeshabilitarDescargaCupon"/>
<output wsam:Action="http://Servicios/webService/DeshabilitarDescargaCuponResponse" message="tns:DeshabilitarDescargaCuponResponse"/>
</operation>
<operation name="traerDetalleRubro">
<input wsam:Action="http://Servicios/webService/traerDetalleRubroRequest" message="tns:traerDetalleRubro"/>
<output wsam:Action="http://Servicios/webService/traerDetalleRubroResponse" message="tns:traerDetalleRubroResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerDetalleRubro/Fault/IOException"/>
</operation>
<operation name="traerOfertasxTienda">
<input wsam:Action="http://Servicios/webService/traerOfertasxTiendaRequest" message="tns:traerOfertasxTienda"/>
<output wsam:Action="http://Servicios/webService/traerOfertasxTiendaResponse" message="tns:traerOfertasxTiendaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/webService/traerOfertasxTienda/Fault/IOException"/>
</operation>
<operation name="registroDescuento">
<input wsam:Action="http://Servicios/webService/registroDescuentoRequest" message="tns:registroDescuento"/>
<output wsam:Action="http://Servicios/webService/registroDescuentoResponse" message="tns:registroDescuentoResponse"/>
</operation>
<operation name="traerSucursalesxIdTienda">
<input wsam:Action="http://Servicios/webService/traerSucursalesxIdTiendaRequest" message="tns:traerSucursalesxIdTienda"/>
<output wsam:Action="http://Servicios/webService/traerSucursalesxIdTiendaResponse" message="tns:traerSucursalesxIdTiendaResponse"/>
</operation>
<operation name="registrarValoracion">
<input wsam:Action="http://Servicios/webService/registrarValoracionRequest" message="tns:registrarValoracion"/>
<output wsam:Action="http://Servicios/webService/registrarValoracionResponse" message="tns:registrarValoracionResponse"/>
</operation>
<operation name="registrarSucursal">
<input wsam:Action="http://Servicios/webService/registrarSucursalRequest" message="tns:registrarSucursal"/>
<output wsam:Action="http://Servicios/webService/registrarSucursalResponse" message="tns:registrarSucursalResponse"/>
</operation>
<operation name="actualizarSucursalxId">
<input wsam:Action="http://Servicios/webService/actualizarSucursalxIdRequest" message="tns:actualizarSucursalxId"/>
<output wsam:Action="http://Servicios/webService/actualizarSucursalxIdResponse" message="tns:actualizarSucursalxIdResponse"/>
</operation>
<operation name="crearVisualizacionOferta">
<input wsam:Action="http://Servicios/webService/crearVisualizacionOfertaRequest" message="tns:crearVisualizacionOferta"/>
<output wsam:Action="http://Servicios/webService/crearVisualizacionOfertaResponse" message="tns:crearVisualizacionOfertaResponse"/>
</operation>
<operation name="eliminarTiendaxId">
<input wsam:Action="http://Servicios/webService/eliminarTiendaxIdRequest" message="tns:eliminarTiendaxId"/>
<output wsam:Action="http://Servicios/webService/eliminarTiendaxIdResponse" message="tns:eliminarTiendaxIdResponse"/>
</operation>
<operation name="actualizarTiendaxId">
<input wsam:Action="http://Servicios/webService/actualizarTiendaxIdRequest" message="tns:actualizarTiendaxId"/>
<output wsam:Action="http://Servicios/webService/actualizarTiendaxIdResponse" message="tns:actualizarTiendaxIdResponse"/>
</operation>
<operation name="actualizarRubroxId">
<input wsam:Action="http://Servicios/webService/actualizarRubroxIdRequest" message="tns:actualizarRubroxId"/>
<output wsam:Action="http://Servicios/webService/actualizarRubroxIdResponse" message="tns:actualizarRubroxIdResponse"/>
</operation>
</portType>
<binding name="webServicePortBinding" type="tns:webService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminarRubroxId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarRubro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerRubro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="loginConsumidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearConsumidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restarPuntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerTiendas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="registrarTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerConsumidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="agregarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="SelectMaxIdRubro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectMaxIdValoracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectMaxIdDescuento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ComprobarValoracionAnterior">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectMaxIdPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerOfertasxCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="eliminarSucursalxId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerTodasOfertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="TraerOfertasxPreferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="traerInformacionConsumidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="SelectMaxIdSucursal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumarPuntosConsumidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeshabilitarDescargaCupon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerDetalleRubro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="traerOfertasxTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="registroDescuento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerSucursalesxIdTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarValoracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarSucursal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarSucursalxId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearVisualizacionOferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarTiendaxId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarTiendaxId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarRubroxId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="webService">
<port name="webServicePort" binding="tns:webServicePortBinding">
<soap:address location="http://localhost:9090/WebServices/webService"/>
</port>
</service>
</definitions>