xml-resources/web-service-references/webService/wsdl/localhost_9090/WebServices/webService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="ComprobarValoracionAnterior" type="tns:ComprobarValoracionAnterior"/>

<xs:element name="ComprobarValoracionAnteriorResponse" type="tns:ComprobarValoracionAnteriorResponse"/>

<xs:element name="CrearConsumidor" type="tns:CrearConsumidor"/>

<xs:element name="CrearConsumidorResponse" type="tns:CrearConsumidorResponse"/>

<xs:element name="DeshabilitarDescargaCupon" type="tns:DeshabilitarDescargaCupon"/>

<xs:element name="DeshabilitarDescargaCuponResponse" type="tns:DeshabilitarDescargaCuponResponse"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="SelectMaxIdPerfil" type="tns:SelectMaxIdPerfil"/>

<xs:element name="SelectMaxIdPerfilResponse" type="tns:SelectMaxIdPerfilResponse"/>

<xs:element name="SelectMaxIdRubro" type="tns:SelectMaxIdRubro"/>

<xs:element name="SelectMaxIdRubroResponse" type="tns:SelectMaxIdRubroResponse"/>

<xs:element name="SelectMaxIdSucursal" type="tns:SelectMaxIdSucursal"/>

<xs:element name="SelectMaxIdSucursalResponse" type="tns:SelectMaxIdSucursalResponse"/>

<xs:element name="SelectMaxIdValoracion" type="tns:SelectMaxIdValoracion"/>

<xs:element name="SelectMaxIdValoracionResponse" type="tns:SelectMaxIdValoracionResponse"/>

<xs:element name="TraerOfertasxPreferencia" type="tns:TraerOfertasxPreferencia"/>

<xs:element name="TraerOfertasxPreferenciaResponse" type="tns:TraerOfertasxPreferenciaResponse"/>

<xs:element name="actualizarRubroxId" type="tns:actualizarRubroxId"/>

<xs:element name="actualizarRubroxIdResponse" type="tns:actualizarRubroxIdResponse"/>

<xs:element name="actualizarSucursalxId" type="tns:actualizarSucursalxId"/>

<xs:element name="actualizarSucursalxIdResponse" type="tns:actualizarSucursalxIdResponse"/>

<xs:element name="actualizarTiendaxId" type="tns:actualizarTiendaxId"/>

<xs:element name="actualizarTiendaxIdResponse" type="tns:actualizarTiendaxIdResponse"/>

<xs:element name="agregarProducto" type="tns:agregarProducto"/>

<xs:element name="agregarProductoResponse" type="tns:agregarProductoResponse"/>

<xs:element name="crearVisualizacionOferta" type="tns:crearVisualizacionOferta"/>

<xs:element name="crearVisualizacionOfertaResponse" type="tns:crearVisualizacionOfertaResponse"/>

<xs:element name="eliminarRubroxId" type="tns:eliminarRubroxId"/>

<xs:element name="eliminarRubroxIdResponse" type="tns:eliminarRubroxIdResponse"/>

<xs:element name="eliminarSucursalxId" type="tns:eliminarSucursalxId"/>

<xs:element name="eliminarSucursalxIdResponse" type="tns:eliminarSucursalxIdResponse"/>

<xs:element name="eliminarTiendaxId" type="tns:eliminarTiendaxId"/>

<xs:element name="eliminarTiendaxIdResponse" type="tns:eliminarTiendaxIdResponse"/>

<xs:element name="loginConsumidor" type="tns:loginConsumidor"/>

<xs:element name="loginConsumidorResponse" type="tns:loginConsumidorResponse"/>

<xs:element name="loginUsuario" type="tns:loginUsuario"/>

<xs:element name="loginUsuarioResponse" type="tns:loginUsuarioResponse"/>

<xs:element name="registrarRubro" type="tns:registrarRubro"/>

<xs:element name="registrarRubroResponse" type="tns:registrarRubroResponse"/>

<xs:element name="registrarSucursal" type="tns:registrarSucursal"/>

<xs:element name="registrarSucursalResponse" type="tns:registrarSucursalResponse"/>

<xs:element name="registrarTienda" type="tns:registrarTienda"/>

<xs:element name="registrarTiendaResponse" type="tns:registrarTiendaResponse"/>

<xs:element name="registrarValoracion" type="tns:registrarValoracion"/>

<xs:element name="registrarValoracionResponse" type="tns:registrarValoracionResponse"/>

<xs:element name="registroDescuento" type="tns:registroDescuento"/>

<xs:element name="registroDescuentoResponse" type="tns:registroDescuentoResponse"/>

<xs:element name="restarPuntos" type="tns:restarPuntos"/>

<xs:element name="restarPuntosResponse" type="tns:restarPuntosResponse"/>

<xs:element name="selectMaxIdDescuento" type="tns:selectMaxIdDescuento"/>

<xs:element name="selectMaxIdDescuentoResponse" type="tns:selectMaxIdDescuentoResponse"/>

<xs:element name="sumarPuntosConsumidor" type="tns:sumarPuntosConsumidor"/>

<xs:element name="sumarPuntosConsumidorResponse" type="tns:sumarPuntosConsumidorResponse"/>

<xs:element name="traerCategorias" type="tns:traerCategorias"/>

<xs:element name="traerCategoriasResponse" type="tns:traerCategoriasResponse"/>

<xs:element name="traerConsumidor" type="tns:traerConsumidor"/>

<xs:element name="traerConsumidorResponse" type="tns:traerConsumidorResponse"/>

<xs:element name="traerDetalleRubro" type="tns:traerDetalleRubro"/>

<xs:element name="traerDetalleRubroResponse" type="tns:traerDetalleRubroResponse"/>

<xs:element name="traerInformacionConsumidor" type="tns:traerInformacionConsumidor"/>

<xs:element name="traerInformacionConsumidorResponse" type="tns:traerInformacionConsumidorResponse"/>

<xs:element name="traerOfertasxCategoria" type="tns:traerOfertasxCategoria"/>

<xs:element name="traerOfertasxCategoriaResponse" type="tns:traerOfertasxCategoriaResponse"/>

<xs:element name="traerOfertasxTienda" type="tns:traerOfertasxTienda"/>

<xs:element name="traerOfertasxTiendaResponse" type="tns:traerOfertasxTiendaResponse"/>

<xs:element name="traerRubro" type="tns:traerRubro"/>

<xs:element name="traerRubroResponse" type="tns:traerRubroResponse"/>

<xs:element name="traerSucursalesxIdTienda" type="tns:traerSucursalesxIdTienda"/>

<xs:element name="traerSucursalesxIdTiendaResponse" type="tns:traerSucursalesxIdTiendaResponse"/>

<xs:element name="traerTiendas" type="tns:traerTiendas"/>

<xs:element name="traerTiendasResponse" type="tns:traerTiendasResponse"/>

<xs:element name="traerTodasOfertas" type="tns:traerTodasOfertas"/>

<xs:element name="traerTodasOfertasResponse" type="tns:traerTodasOfertasResponse"/>

<xs:complexType name="DeshabilitarDescargaCupon">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeshabilitarDescargaCuponResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SelectMaxIdValoracion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SelectMaxIdValoracionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearVisualizacionOferta">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="ofertaid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearVisualizacionOfertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarTiendaxId">
<xs:sequence>
<xs:element name="idTienda" type="xs:int"/>
<xs:element name="nombreTienda" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarTiendaxIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SelectMaxIdPerfil">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SelectMaxIdPerfilResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerOfertasxTienda">
<xs:sequence>
<xs:element name="idtienda" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerOfertasxTiendaResponse">
<xs:sequence>
<xs:element name="return" type="tns:oferta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="oferta">
<xs:sequence>
<xs:element name="cantidadOfertaProducto" type="xs:int"/>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaTermino" type="xs:string" minOccurs="0"/>
<xs:element name="idoferta" type="xs:int"/>
<xs:element name="precioOferta" type="xs:int"/>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
<xs:element name="sucursal" type="tns:sucursal" minOccurs="0"/>
<xs:element name="tienda" type="tns:tienda" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="idcategoria" type="xs:int"/>
<xs:element name="nombrecategoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="codigobarra" type="xs:int"/>
<xs:element name="fechaExpiracion" type="xs:string" minOccurs="0"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="nombreproducto" type="xs:string" minOccurs="0"/>
<xs:element name="precioProducto" type="xs:int"/>
<xs:element name="rutaimagen" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sucursal">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="direcionUnica" type="xs:string" minOccurs="0"/>
<xs:element name="idSucursal" type="xs:int"/>
<xs:element name="idsucursal" type="xs:int"/>
<xs:element name="region" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tienda">
<xs:sequence>
<xs:element name="idtienda" type="xs:int"/>
<xs:element name="nombretienda" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerOfertasxCategoria">
<xs:sequence>
<xs:element name="idcategoria" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerOfertasxCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:oferta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearConsumidor">
<xs:sequence>
<xs:element name="idperfil" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellidop" type="xs:string" minOccurs="0"/>
<xs:element name="apellidom" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:unsignedShort"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearConsumidorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarProducto">
<xs:sequence>
<xs:element name="codigobarra" type="xs:int"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rutaimagen" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:int"/>
<xs:element name="fechaexpiracion" type="xs:string" minOccurs="0"/>
<xs:element name="idcategoria" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectMaxIdDescuento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectMaxIdDescuentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerTiendas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="traerTiendasResponse">
<xs:sequence>
<xs:element name="return" type="tns:tienda" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRubroxId">
<xs:sequence>
<xs:element name="idRubro" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRubroxIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerOfertasxPreferencia">
<xs:sequence>
<xs:element name="idcategoria" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerOfertasxPreferenciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:oferta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarTiendaxId">
<xs:sequence>
<xs:element name="idTienda" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarTiendaxIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerRubro">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="traerRubroResponse">
<xs:sequence>
<xs:element name="return" type="tns:descuento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descuento">
<xs:sequence>
<xs:element name="descuento" type="xs:int"/>
<xs:element name="idDescuento" type="xs:int"/>
<xs:element name="idRubro" type="xs:int"/>
<xs:element name="idrubro" type="xs:int"/>
<xs:element name="nombreRubro" type="xs:string" minOccurs="0"/>
<xs:element name="nombrerubro" type="xs:string" minOccurs="0"/>
<xs:element name="puntos" type="xs:int"/>
<xs:element name="tope" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarPuntosConsumidor">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarPuntosConsumidorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarSucursalxId">
<xs:sequence>
<xs:element name="idSucursal" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarSucursalxIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginConsumidor">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginConsumidorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SelectMaxIdRubro">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SelectMaxIdRubroResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerTodasOfertas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="traerTodasOfertasResponse">
<xs:sequence>
<xs:element name="return" type="tns:oferta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerConsumidor">
<xs:sequence>
<xs:element name="rutconsumidor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerConsumidorResponse">
<xs:sequence>
<xs:element name="return" type="tns:consumidor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consumidor">
<xs:sequence>
<xs:element name="activocupon" type="xs:int"/>
<xs:element name="apellidop" type="xs:string" minOccurs="0"/>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="puntos" type="xs:int"/>
<xs:element name="rutconsumidor" type="xs:string" minOccurs="0"/>
<xs:element name="tienda" type="tns:tienda" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarRubroxId">
<xs:sequence>
<xs:element name="idRubro" type="xs:int"/>
<xs:element name="nombreRubro" type="xs:string" minOccurs="0"/>
<xs:element name="tope" type="xs:int"/>
<xs:element name="descuento" type="xs:int"/>
<xs:element name="puntos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarRubroxIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restarPuntos">
<xs:sequence>
<xs:element name="puntos" type="xs:int"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restarPuntosResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerSucursalesxIdTienda">
<xs:sequence>
<xs:element name="idtienda" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerSucursalesxIdTiendaResponse">
<xs:sequence>
<xs:element name="return" type="tns:sucursal" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarTienda">
<xs:sequence>
<xs:element name="idtienda" type="xs:int"/>
<xs:element name="nombreTienda" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarTiendaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SelectMaxIdSucursal">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SelectMaxIdSucursalResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ComprobarValoracionAnterior">
<xs:sequence>
<xs:element name="idoferta" type="xs:int"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ComprobarValoracionAnteriorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerDetalleRubro">
<xs:sequence>
<xs:element name="idrubro" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerDetalleRubroResponse">
<xs:sequence>
<xs:element name="return" type="tns:descuento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroDescuento">
<xs:sequence>
<xs:element name="idescuento" type="xs:int"/>
<xs:element name="idrubro" type="xs:int"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroDescuentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarValoracion">
<xs:sequence>
<xs:element name="idvaloracion" type="xs:int"/>
<xs:element name="tipovaloracion" type="xs:int"/>
<xs:element name="idoferta" type="xs:int"/>
<xs:element name="codigobarra" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarValoracionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarSucursalxId">
<xs:sequence>
<xs:element name="idSucursal" type="xs:int"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="region" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarSucursalxIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="traerCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarSucursal">
<xs:sequence>
<xs:element name="idSucursal" type="xs:int"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="region" type="xs:string" minOccurs="0"/>
<xs:element name="idTienda" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarSucursalResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="idTienda" type="xs:int"/>
<xs:element name="idTipoUsuario" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarRubro">
<xs:sequence>
<xs:element name="idRubro" type="xs:int"/>
<xs:element name="nombreRubro" type="xs:string" minOccurs="0"/>
<xs:element name="tope" type="xs:int"/>
<xs:element name="descuento" type="xs:int"/>
<xs:element name="puntos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarRubroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerInformacionConsumidor">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerInformacionConsumidorResponse">
<xs:sequence>
<xs:element name="return" type="tns:consumidor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>